@model ProvaMVC.Models.Paziente
@{
    ViewData["Title"] = "Modifica Dati Personali";
}

<h2>Modifica Dati Personali Paziente</h2>


<form method="post" asp-action="ModificaDatiPersonali">
    <input type="hidden" name="IDPaziente" value="@Model.ID" />

    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" name="Nome" class="form-control" value="@Model.Nome" />
    </div>

    <div class="form-group">
        <label for="Cognome">Cognome</label>
        <input type="text" name="Cognome" class="form-control" value="@Model.Cognome" />
    </div>

    <div class="form-group">
        <label for="CF">Codice Fiscale</label>
        <input type="text" name="CF" class="form-control" maxlength="16" minlength="16" value="@Model.CF" />
    </div>

    <div class="form-group">
        <label for="DataNascita">Data di Nascita</label>
        <input type="date" name="DataNascita" class="form-control"
               value="@Model.DataNascita.ToString("yyyy-MM-dd")" />
    </div>

    <div class="form-group">
        <label for="LuogoNascita">Luogo di Nascita</label>
        <input type="text" name="LuogoNascita" class="form-control" value="@Model.LuogoNascita" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Conferma Modifica</button>
</form>
