@model ProvaMVC.Models.RegistrazioneData

@{
    ViewData["Title"] = "Registrazione";
}

<h1>Registrazione</h1>
<hr />

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}


<form asp-action="Registrazione" method="post">
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password"
               pattern="^(?=.*[A-Z])(?=.*\d).{8,}$"
               title="Minimo 8 caratteri, una maiuscola e un numero" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">

        <label>Ruolo</label><br />
        <input type="radio" id="ruoloMedico" name="Ruolo" value="Medico"
        @(Model.Ruolo == "Medico" ? "checked" : "") />
        <label for="ruoloMedico">Medico</label>

        <input type="radio" id="ruoloInfermiere" name="Ruolo" value="Infermiere"
        @(Model.Ruolo == "Infermiere" ? "checked" : "") />
        <label for="ruoloInfermiere">Infermiere</label>

        <input type="radio" id="ruoloOSS" name="Ruolo" value="OSS"
        @(Model.Ruolo == "OSS" ? "checked" : "") />
        <label for="ruoloOSS">OSS</label>

        <span asp-validation-for="Ruolo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IDReparto">Reparto</label>
        <select asp-for="IDReparto" class="form-control">
            <option value="">-- Seleziona Reparto --</option>
            @foreach (var reparto in Model.Reparti ?? Enumerable.Empty<ProvaMVC.Models.Reparto>())
            {
                <option value="@reparto.ID">@reparto.Nome</option>
            }
        </select>
        <span asp-validation-for="IDReparto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cognome"></label>
        <input asp-for="Cognome" class="form-control" />
        <span asp-validation-for="Cognome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CF">Codice Fiscale</label>
        <input asp-for="CF" class="form-control" maxlength="16" />
        <span asp-validation-for="CF" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Registrati</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}